*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background-image: url(../img/garena-free-fire-ios-artwork-event.jpg);
    width: 500px;
    height: 500px;
    margin: 50px auto;
}